# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Binaries
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Ii]ntermediate/
[Ii]ntermediates/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
